@import "../fonts/yekan/Yekan.css";

* {
  font-family: "Yekan";
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #c5c5c5;
}
::-webkit-scrollbar-thumb {
  background: #666;
}

body:-webkit-full-screen #appSpacer,
body:-webkit-full-screen #appBar,
body:-webkit-full-screen #sideBar {
  display: none;
}
body:-moz-full-screen #appSpacer,
body:-moz-full-screen #appBar,
body:-moz-full-screen #sideBar {
  display: none;
}
body:-ms-fullscreen #appSpacer,
body:-ms-fullscreen #appBar,
body:-ms-fullscreen #sideBar {
  display: none;
}
body:fullscreen #appSpacer,
body:fullscreen #appBar,
body:fullscreen #sideBar,
#root.full-content #appSpacer,
#root.full-content #appBar,
#root.full-content #sideBar,
#root.full-content #settings-btn {
  display: none;
}

.table-wrapper {
  overflow: auto;
}

.layout .react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}
.layout.light .react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid #3a4047;
  border-bottom: 2px solid #3a4047;
}

.layout .draggableHandle {
  position: absolute;
  top: 8px;
  cursor: move;
  z-index: 200000;
}

.jsoneditor-wrapper .jsoneditor-field {
  color: #c8b6b6 !important;
}

.jsoneditor-wrapper .jsoneditor-value {
  color: #d5d5d5 !important;
}

.jsoneditor-wrapper .jsoneditor-value[contenteditable="true"]:hover,
.jsoneditor-wrapper .jsoneditor-value[contenteditable="true"]:visited,
.jsoneditor-wrapper .jsoneditor-value[contenteditable="true"]:focus {
  background-color: #fff2 !important;
}

.tableColDragHnadler {
  border-left: 1px solid #999999;
}
