@import "../fonts/yekan/Yekan.css";

* {
  font-family: "Yekan";
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #c5c5c5;
}
::-webkit-scrollbar-thumb {
  background: #666;
}

body:-webkit-full-screen #appSpacer,
body:-webkit-full-screen #appBar,
body:-webkit-full-screen #sideBar {
  display: none;
}
body:-moz-full-screen #appSpacer,
body:-moz-full-screen #appBar,
body:-moz-full-screen #sideBar {
  display: none;
}
body:-ms-fullscreen #appSpacer,
body:-ms-fullscreen #appBar,
body:-ms-fullscreen #sideBar {
  display: none;
}
body:fullscreen #appSpacer,
body:fullscreen #appBar,
body:fullscreen #sideBar,
#root.full-content #appSpacer,
#root.full-content #appBar,
#root.full-content #sideBar,
#root.full-content #settings-btn {
  display: none;
}
